@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,600;0,700;0,800;1,600;1,700;1,800&family=Kanit:ital,wght@0,900;1,100;1,600;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather&family=PT+Serif:wght@700&family=Poppins:wght@100&family=STIX+Two+Text&family=Sacramento&family=Satisfy&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url("file:///C:/Users/mdibr/OneDrive/Desktop/C%20C++/html/RandomPasswordGen/yura-fresh-dk4en2rFOIE-unsplash.jpg");
    background-size: cover;
}
h1{
   display:flex;
   justify-content: center;
   font-size: 35px;
   color:white;
   font-family: 'EB Garamond', serif;
}
span{
    color: green;
}
.box input{
    width: 336px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 30px;
    font-family: 'Libre Baskerville', serif;  
}
button{
    width: 100px;
    height: 30px;
    border: 1px solid white;
    border-radius:20px;
    cursor: pointer;
    margin-top: 10px;
    background-color: green;
    color: white;
    font-family: 'PT Serif', serif;
}
.container{
    padding: 272px 115px;
}
.container h2{
    color: green;
    position: relative;
    bottom: 16px;
    font-size: 40px;
    font-family: 'EB Garamond', serif;
}
